@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");

/* Scaffolding
/* ------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f4f4f4;;
  margin-bottom: 44px;
  line-height: 1.57142857;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: #1d7cf4;
}

a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  max-width: 555px;
}

/* Alerts
/* ------------------------- */

.alert {
  border-width: 0 0 0 3px;
}

.alert-info {
  border-color: #31708f;
}

.alert-success {
  color: #fff;
  background-color: #29b35b;
  border-color: #1d8141;
}

.alert-danger {
  color: #b61b17;
  background-color: #ffcdd2;
  border-color: #b61b17;
}

/* Navbar
/* ------------------------- */

.navbar-default {
  background-color: #fff;
  border-color: #e0e0e0;
}

.navbar-default .navbar-nav {
  color: #757575;
}

.navbar-default .navbar-nav > li > a {
  color: #262626;
  border-bottom: 3px solid transparent;
  padding-top: 17.5px;
  padding-bottom: 14.5px;
  transition: all 0.25s;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;;
  border-bottom-color: #bdbdbd;
}

.navbar-default .navbar-nav > li > a.navbar-avatar {
  padding-top: 13px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
  background-color: transparent;
  color: #262626;
}

/* Panels
/* ------------------------- */

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading {
  padding: 20px 30px;
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  padding: 30px;
}

.panel-body h3 {
  margin-top: 0;
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

/* Buttons
/* ------------------------- */

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
}

.btn:focus {
  outline: 0 !important;
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
}

.btn-default:active {
  background: #e6e6e6 linear-gradient(to bottom, #f0f0f0, #e6e6e6);
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
}

.btn-success:active {
  background: #239a4e linear-gradient(to bottom, #28af59, #239a4e);
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
}

.btn-danger:active {
  background: #9b1714 linear-gradient(to bottom, #b11a17, #9b1714);
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
}

.btn-google:hover,
.btn-google:focus {
  color: #fff;
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
}

.btn-vk:hover,
.btn-vk:focus {
  color: #fff;
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
}

/* Forms */
/* ------------------------- */

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

#psyduck {
    width: 72px;
    width: 2.4em;
    /* margin-bottom: 600px; */
    padding: 0;
    display: block;
    top: 5px;
    left: 30px;
    position: absolute;
}

.uni-list-wrapper {
    height: 464px;
}

.block-image {
  width: 320px;
}

.calendar {
  width: 80%;
  margin: 0 auto;
}

*{margin:0; padding:0; font-size:10px;}

body {
    background: #eff0eb;
}

.calendar_modern {
    padding: 50px;
}
.calendar_modern .calendar {
    margin: auto;
    width: 240px;
    height: 290px;
}
.calendar_modern .calendar .nav {
    height: 0;
    position: relative;
}
.calendar_modern .calendar .nav i, .calendar_modern .calendar .nav b {
    display: block;
    font-style: normal;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 100;
    top: 0;
}
.calendar_modern .calendar .nav i {
    left: 0;
    border-right: 1px solid #423a37;
    /*background: url(/images/modern/lft.png) no-repeat center center #372F2C;*/
    background: url(http://cs4399.userapi.com/u49225742/docs/58f03726ea27/lft.png) no-repeat center center #372f2c;
}
.calendar_modern .calendar .nav b {
    right: 0;
    border-left: 1px solid #423a37;
    /*background: url(/images/modern/rgt.png) no-repeat center center #372F2C;*/
    background: url(http://cs4399.userapi.com/u49225742/docs/5fd2e9dd3a9f/rgt.png) no-repeat center center #372f2c;
}
.calendar_modern .calendar .viewport {
    overflow: hidden;
    zoom: 1;
    height: 260px;
    width: 240px;
    position: relative;
}
.calendar_modern .calendar .months {
    white-space: nowrap;
    word-spacing: -2px;
    letter-spacing: -2px;
    position: absolute;
    height: 260px;
}
.calendar_modern .calendar .month {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    width: 240px;
    height: 260px;
}
.calendar_modern .calendar .month {
    *display: inline;
}
.calendar_modern .calendar .month .header {
    height: 30px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 30px;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    background: #372f2c;
}
.calendar_modern .calendar .month .body {
    background: #e4e4e4;
}
.calendar_modern .calendar .month .body .day_names {
    height: 25px;
}
.calendar_modern .calendar .month .body .day_names i {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-style: normal;
    float: left;
    width: 34px;
}
.calendar_modern .calendar .month .body .days i, .calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days s, .calendar_modern .calendar .month .body .days a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    float: left;
    width: 33px;
    height: 33px;
    color: #8d8d8d;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    font-style: normal;
    background: #e4e4e4;
    text-decoration: none;
    /* table like borders */
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    /* table like borders */
}
.calendar_modern .calendar .month .body .days i.weekend, .calendar_modern .calendar .month .body .days b.weekend, .calendar_modern .calendar .month .body .days s.weekend, .calendar_modern .calendar .month .body .days a.weekend {
    color: #444;
    background: #FDD;
}
.calendar_modern .calendar .month .body .days i:nth-child(7n + 1), .calendar_modern .calendar .month .body .days b:nth-child(7n + 1), .calendar_modern .calendar .month .body .days s:nth-child(7n + 1), .calendar_modern .calendar .month .body .days a:nth-child(7n + 1) {
    border-left: 1px solid #aaaaaa;
}
.calendar_modern .calendar .month .body .days i:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days b:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days s:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days a:nth-child(n+1):nth-child(-n+7) {
    border-top: 1px solid #aaaaaa;
}
.calendar_modern .calendar .month .body .days i:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days b:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days s:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days a:nth-child(n+1):nth-child(-n+7).empty {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #aaaaaa;
}
.calendar_modern .calendar .month .body .days s:nth-child(7n + 1) {
    border-left: 1px solid #d5d5d5;
}
.calendar_modern .calendar .month .body .days a {
    color: #372f2d;
    background: #d1d1d1;
    text-shadow: 1px 1px 0px white;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dadada), color-stop(100%, #cfcfcf));
    background-image: -webkit-linear-gradient(bottom, #dadada, #cfcfcf);
    background-image: -moz-linear-gradient(bottom, #dadada, #cfcfcf);
    background-image: -o-linear-gradient(bottom, #dadada, #cfcfcf);
    background-image: -ms-linear-gradient(bottom, #dadada, #cfcfcf);
    background-image: linear-gradient(bottom, #dadada, #cfcfcf);
}
.calendar_modern .calendar .month .body .days a.today {
    color: white;
    text-shadow: 1px 1px 2px teal;
    -webkit-box-shadow: 0 0 18px teal inset;
    -moz-box-shadow: 0 0 18px teal inset;
    box-shadow: 0 0 18px teal inset;
}
.calendar_modern .calendar .month .body .days a.selected {
    color: white;
    text-shadow: 1px 1px 2px blue;
    -webkit-box-shadow: 0 0 18px #000066 inset;
    -moz-box-shadow: 0 0 18px #000066 inset;
    box-shadow: 0 0 18px #000066 inset;
}
.calendar_modern .calendar .month .body .days a:hover {
    color: white;
    -webkit-transition-property: text-shadow;
    -moz-transition-property: text-shadow;
    -ms-transition-property: text-shadow;
    -o-transition-property: text-shadow;
    transition-property: text-shadow;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -ms-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-shadow: 1px 1px 2px green;
    -webkit-box-shadow: 0 0 18px #006600 inset;
    -moz-box-shadow: 0 0 18px #006600 inset;
    box-shadow: 0 0 18px #006600 inset;
}
.calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days i, .calendar_modern .calendar .month .body .days s {
    color: #ccc;
}
.calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days s {
    background: #eee;
    border-color: #d5d5d5;
}
.calendar_modern .calendar .month .body .days b {
    border-top: 1px solid #d5d5d5 !important;
    border-bottom: 1px solid #aaaaaa !important;
}
.calendar_modern .calendar .month .body .days b:first-child {
    border-left: 1px solid #d5d5d5 !important;
}
.calendar_modern .calendar .month .body .days b:last-of-type {
    border-right: 1px solid #aaaaaa !important;
}
